body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#4facfe,#00f2fe);
    height:100vh;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.login-container{
    background:white;
    padding:40px;
    width:320px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.login-container h2{
    text-align:center;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:15px;
}

.input-group label{
    display:block;
    margin-bottom:5px;
    font-size:14px;
}

.input-group input{
    width:100%;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
    font-size:14px;
}

button{
    width:100%;
    padding:10px;
    border:none;
    background:#4facfe;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#3a8de0;
}
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-top: 40px;
    color: #2c3e50;
}
.titulo3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 40px;
    color: #2c3e50;
}